html {
    font: italic 1em "Fira Sans", serif;
}

.style_ecriture {
    display : block;
    text-align: center;
    color: rgb(0, 0, 0);
}

.cadre_regle {
    margin-left: auto;
    background-color: lightgoldenrodyellow;
    margin-right: auto;
    width: 60%;
    border: solid 2px;
    border-radius: 10px;
    border-color: lightgoldenrodyellow;
    box-shadow: 4px 4px 4px #CCC ;
    overflow: hidden;
    position: relative;
  }

.ecriture_cadre {
    display : flex;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.cartes {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: linen;
    width: 10%;
    height: 10em;
    border: solid 2px;
    border-radius: 10px;
    border-color: linen;
    box-shadow: 4px 4px 4px #CCC ;
    overflow: hidden;
    position: relative; 
}

.cadre_cartes {
    display: flex;
    flex-direction: row;
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: solid 2px;
    border-radius: 10px;
    border-color: lightgoldenrodyellow;
    box-shadow: 4px 4px 4px #CCC ;
    overflow: hidden;
    position: relative; 
}
.cartes_symboles {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: linen;
    width: 10%;
    height: 10em;
    border: solid 2px;
    border-radius: 10px;
    border-color: linen;
    box-shadow: 4px 4px 4px #CCC ;
    overflow: hidden;
    position: relative;  
}

.background {
    background-image: url(img/41.png);
}

.pos_button {
    display : block;
    margin: auto;
    border: solid 2px;
    border-radius: 10px;
    border-color: lightgoldenrodyellow;
    cursor: pointer;
}
